
* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    border-bottom: 3px solid red;
    display: inline-flex;
    font-family: arial;
    font-size: 20px;
    font-weight: lighter;
    margin: 10px;
    padding: 0 0 3px 0;
}
h2 {
    display: inline-flex;
    font-family: arial;
    font-size: 18px;
    margin: 10px;
    padding: 0 0 3px 0;
}
#posts {
    margin: 25px 0 0 0;
    font-family: arial;
    font-size: 18px;
}

p {
    font-family: arial;
    font-size: 15px;
    font-weight: lighter;
    margin: 5px 20px;
}
.topnav {
    display: inline-flex;
    font-family: arial;
    font-size: 18px;
    margin: 10px;
    padding: 0 0 3px 0;
    overflow: hidden;
    border:  black solid 4px;
    border-radius: 10px;
}
.topnav a:link {
    color:black;
}
.topnav a:visited{
    color:black;
}
.topnav a:hover{
    color: red;
}
.topnav a:active{
    color: red;
}
#forms {
    margin: 50px 0 0 0;
}

form {
    margin: 10px 20px;
}

button {
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding: 5px;
    min-width: 100px;
}

.form-group {
    margin: 10px;
}

.form-group label {
    font-family: arial;
    font-size: 15px;
    font-weight: lighter;
}

.form-group input {
    border-bottom: 3px solid red;
    margin: 0 0 0 3px;
    padding: 3px;
}

.form-group textarea {
    border: 3px solid red;
    margin: 10px 0 0 1px;
    padding: 3px;
}

.form-submit {
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding: 5px;
    min-width: 100px;
}

.form-error-message {
    color: red;
    font-family: arial;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    margin: 5px;
}