{% extends "layout.html" %}

{% block styles %}
    <!--<link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
    -->
    <link href="{{ url_for('static', filename='./css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% if session_username is defined %}

        <h1>Hi, {{ session_username }} !</h1>

    {% else %}

        <h1>Hi, guest!</h1>

    {% endif %}


    <div id="posts">
        {% for p in posts %}
            <p>{{ p.username }}: {{ p.content }}</p>
        {% endfor %}
    </div>


    <div id="forms">
        {% if session_username is defined %}

            <form action="/logout" method="POST">
                <button type="submit"> Log out</button>
            </form>

            <form action="/newpost" method="GET">
                <button type="submit"> New Post</button>
            </form>

        {% else %}
            <form action="/login" method="GET">
                <button type="submit"> Log in</button>
            </form>
            <form action="/signup" method="GET">
                <button type="submit"> Sign up</button>
            </form>
        {% endif %}
    </div>

{% endblock %}