{% extends "layout.html" %}

{% block styles %}
    <!--<link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
    -->
    <link href="{{ url_for('static', filename='./css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1>Login form</h1>

    <form method="POST" action="/login">
        {{ form.hidden_tag() }}

        <div class="form-group">

            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span class="form-error-message">[{{ error }}]</span>

            {% endfor %}
        </div>

        <div class="form-group">

            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span class="form-error-message">[{{ error }}]</span>

            {% endfor %}
        </div>
        {{ form.submit(class="form-submit") }}

    </form>

    <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a></p>

{% endblock %}