{% extends "layout.html" %}

{% block styles %}
    <!--<link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
    -->
    <link href="{{ url_for('static', filename='./css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1>New Post</h1>

    <form method="POST" action="/newpost">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.content.label }}<br>
            {{ form.content(rows='12',cols='60') }}<br>
            {% for error in form.content.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.submit(class="form-submit") }}

    </form>

{% endblock %}